{% extends "app/base_mobile.html" %}
{% load static %}

{% block title %}
    My Eldvatten | EldVatten
{% endblock %}

{% block mobile_primary_tabs %}
{% endblock %}

{% block mobile_nav_my_eldvatten %}
    active
{% endblock %}

{% block app_content %}

<section class="mobile-my-eldvatten-header">

    <h1>
        My Eldvatten
    </h1>

</section>


<nav
    class="mobile-my-eldvatten-tabs"
    aria-label="My Eldvatten sections"
>
    <a
        class="mobile-my-eldvatten-tab
        {% if active_section == 'profile' %}active{% endif %}"
        href="{% url 'my_eldvatten' %}?section=profile"
    >
        Profile
    </a>

    <a
        class="mobile-my-eldvatten-tab
        {% if active_section == 'posts' %}active{% endif %}"
        href="{% url 'my_eldvatten' %}?section=posts"
    >
        Posts
    </a>

    <a
        class="mobile-my-eldvatten-tab
        {% if active_section == 'todo' %}active{% endif %}"
        href="{% url 'my_eldvatten' %}?section=todo"
    >
        To-Do
    </a>

    <a
        class="mobile-my-eldvatten-tab
        {% if active_section == 'notifications' %}active{% endif %}"
        href="{% url 'my_eldvatten' %}?section=notifications"
    >
        Notifications
    </a>

    <a
        class="mobile-my-eldvatten-tab
        mobile-my-eldvatten-settings-tab
        {% if active_section == 'settings' %}active{% endif %}"
        href="{% url 'my_eldvatten' %}?section=settings"
        aria-label="Settings"
    >
        <img
            class="mobile-my-eldvatten-settings-icon"
            src="{% static 'images/gear.png' %}"
            alt=""
        >
    </a>
</nav>


<section class="mobile-my-eldvatten-content">

    {% if active_section == "profile" %}

        {% include "accounts/my_eldvatten/profile.html" %}

    {% elif active_section == "posts" %}

        {% include "accounts/my_eldvatten/posts.html" %}

    {% elif active_section == "todo" %}

        {% include "accounts/my_eldvatten/todo.html" %}

    {% elif active_section == "notifications" %}

        {% include "accounts/my_eldvatten/notifications.html" %}

    {% elif active_section == "settings" %}

        {% include "accounts/my_eldvatten/settings.html" %}

    {% endif %}

</section>

{% endblock %}