<form
    class="{% if mobile %}mobile-post-composer{% else %}tavern-post-composer{% endif %}"
    method="post"
    action="{% url 'community:post_list' %}"
    data-post-form
>
    {% csrf_token %}

    <div
        class="{% if mobile %}mobile-composer-avatar{% else %}tavern-composer-avatar{% endif %}"
    >
        {% if request.user.display_name %}
            {{ request.user.display_name|first }}
        {% else %}
            {{ request.user.username|first }}
        {% endif %}
    </div>


    <div
        class="{% if mobile %}mobile-composer-content{% else %}tavern-composer-content{% endif %}"
    >

        {{ composer_form.body }}

        {% if composer_form.body.errors %}

            <div
                class="{% if mobile %}mobile-composer-errors{% else %}tavern-composer-errors{% endif %}"
            >
                {{ composer_form.body.errors }}
            </div>

        {% endif %}


        <div
            class="{% if mobile %}mobile-composer-footer{% else %}tavern-composer-footer{% endif %}"
        >

            <div
                class="{% if mobile %}mobile-composer-audience{% else %}tavern-composer-audience{% endif %}"
            >

                <label
                    for="{{ composer_form.visibility.id_for_label }}"
                    class="{% if mobile %}mobile-composer-audience-label{% else %}tavern-composer-audience-label{% endif %}"
                >
                    Audience
                </label>

                {{ composer_form.visibility }}

                <button
                    class="{% if mobile %}mobile-composer-target-button{% else %}tavern-composer-target-button{% endif %}"
                    type="button"
                    data-open-target-modal
                    hidden
                >
                    {% if mobile %}
                        Choose
                    {% else %}
                        Choose Audience
                    {% endif %}
                </button>

            </div>


            <button
                class="button button-primary {% if mobile %}mobile-composer-submit{% else %}tavern-composer-submit{% endif %}"
                type="submit"
            >
                Post
            </button>

        </div>


        {% if composer_form.visibility.errors %}

            <div
                class="{% if mobile %}mobile-composer-errors{% else %}tavern-composer-errors{% endif %}"
            >
                {{ composer_form.visibility.errors }}
            </div>

        {% endif %}


        {% if composer_form.non_field_errors %}

            <div
                class="{% if mobile %}mobile-composer-errors{% else %}tavern-composer-errors{% endif %}"
            >
                {{ composer_form.non_field_errors }}
            </div>

        {% endif %}

    </div>


    {% include "community/tavern/_target_modal.html" %}

</form>