{% extends "app/base_desktop.html" %}


{% block title %}The Tavern | EldVatten{% endblock %}


{% block nav_tavern %}active{% endblock %}


{% block app_shell_class %}tavern-scroll-shell{% endblock %}


{% block app_content %}

<section class="tavern-main-header">
    <h1 class="section-heading">
        The Tavern
    </h1>
</section>


{% include "community/forum/index.html" %}

{% endblock %}


{% block right_rail %}

    {% include "community/tavern/_needs_attention.html" %}

{% endblock %}